/* ==========================================================================
   3. Features Layout and Components
   ========================================================================== */

.features {
  background-color: #f5f5f5;
  min-height: 43.75rem;
  flex-shrink: 0;
  padding: 1rem;

  @include responsive(tablet) {
    padding-bottom: 5.25rem;
  }

  @include responsive(desktop) {
    padding-right: 8rem;
    padding-left: 8rem;
    padding-top: 3.86rem;
    padding-bottom: 6.25rem;
  }

  &__images {
    display: none;
    justify-content: center;
    margin-bottom: 2.56rem;

    @include responsive(tablet) {
      display: flex;
      gap: 1.5rem;
    }

    @include responsive(desktop) {
      display: flex;
      gap: 2.25rem;
    }
  }

  &__image {
    width: 23.125rem;
    height: 15.25rem;
    border-radius: 0.5rem;

    &--1 {
      background: url('../images/feature_1.jpg') lightgray 50% / cover no-repeat;
    }
    &--2 {
      background: url('../images/feature_2.jpg') lightgray 50% / cover no-repeat;
    }
    &--3 {
      background: url('../images/feature_3.jpg') lightgray 50% / cover no-repeat;
    }
  }

  &__header {
    margin-bottom: 2rem;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #333;
    font-family: Montserrat;
    font-size: 1.5rem;
    line-height: 2rem;
    font-style: normal;
    font-weight: 700;

    @include responsive(phone) {
      margin-bottom: 2rem;
    }
    @include responsive(phone-tab) {
      margin-bottom: 2rem;
    }

    @include responsive(tablet) {
      font-size: 2.25rem;
      line-height: 2.875rem;
      margin-bottom: 2rem;
    }

    @include responsive(desktop) {
      font-size: 2.25rem;
      line-height: 2.875rem; /* 127.778% */
    }

    & > span {
      color: #333;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.5rem;
      line-height: 2rem;
      font-style: normal;
      font-weight: 700;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
      -webkit-text-fill-color: transparent;
      mix-blend-mode: difference;

      @include responsive(tablet) {
        font-size: 2.25rem;
        line-height: 2.875rem;
      }

      @include responsive(desktop) {
        font-size: 2.25rem;
        line-height: 2.875rem; /* 127.778% */
      }
    }
  }
  &__infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2.25rem;
    flex-direction: column;

    @include responsive(tablet) {
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1.5rem;
    }

    @include responsive(desktop) {
      flex-direction: row;
    }
  }

  &__info {
    color: #333;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 171.429% */

    @include responsive(tablet) {
      width: calc(50% - 1.5rem);
      /* Swap positions */
      &:nth-child(2) {
        order: 3;
      }

      &:nth-child(3) {
        order: 2;
      }
    }
    @include responsive(desktop) {
      width: 23.1875rem;
    }
  }

  &__rate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    max-width: 20.5rem;
    height: 3.25rem;
    margin-top: 0.62rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
    border: 2px solid #5bc8af;
    text-decoration: none;
    color: #5bc8af;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem; /* 155.556% */
    transition: all 0.2s;

    @include responsive(phone) {
      margin: 1.5rem auto 0;
    }
    @include responsive(phone-tab) {
      margin: 1.5rem auto 0;
    }

    @include responsive(tablet) {
      margin-top: 2.12rem;
    }

    @include responsive(desktop) {
      width: 23.1875rem;
    }

    &:hover,
    &:active {
      color: var(--background-color);
      & svg {
        transform: translateX(3px);
      }
    }
  }
}
